<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <h3>Welcome to Angular World- {{ Vesion }}</h3>
  </div>

  <div class="row">

  </div>


    <router-outlet>

    </router-outlet>

</div>


<!-- Remove after devlopment -->
<!-- <div class="container">
<div class="row">
  <div class="col-md-1"style="border: 1px solid black;" style="border: 1px solid black;"> 1</div>
  <div class="col-md-1" style="border: 1px solid black;"> 2</div>
  <div class="col-md-1" style="border: 1px solid black;"> 3</div>
  <div class="col-md-1" style="border: 1px solid black;"> 4</div>
  <div class="col-md-1" style="border: 1px solid black;"> 5</div>
  <div class="col-md-1" style="border: 1px solid black;"> 6</div>
  <div class="col-md-1" style="border: 1px solid black;"> 7</div>
  <div class="col-md-1" style="border: 1px solid black;"> 8</div>
  <div class="col-md-1" style="border: 1px solid black;"> 9</div>
  <div class="col-md-1" style="border: 1px solid black;"> 10</div>
  <div class="col-md-1" style="border: 1px solid black;"> 11</div>
  <div class="col-md-1" style="border: 1px solid black;"> 12</div>
</div>
<div class="row">
  <div class="col-md-4" style="border: 1px solid black;"> 1</div>
  <div class="col-md-4" style="border: 1px solid black;"> 2</div>
  <div class="col-md-4" style="border: 1px solid black;"> 3</div>

</div>
</div> -->

<!-- End of testing HTML -->
<footer class="footer">
  <div class="container">
    <div class="text-center">© 2020 Copyright:
      <a href="https://www.youtube.com/channel/UC_1Kysb8fxSpTiODMZJ4AyA" class="footer-font"> CodeGallery Company</a>
    </div>
  </div>
</footer>
